.App {
  text-align: center;
}

.preview {
  border: 1px solid black;
  width: 50vw;
  height: 100vh;
  float: right;
}

textarea {
  margin: 0 10px 0 0;
  width: 48vw;
  height: 100vh;
  float: left;
  font-size: 13pt;
  font-family: SF Mono, Hack, monospace;
  resize: none;
}