
$mono-font-stack: Monaco, monospace;
$sans-font-stack: -apple-system, Helvetica Neue, sans-serif;
$serif-font-stack: "Lucida Bright", Georgia, serif;

$primary-color: #333;
$accent-color: #1F7A8C;

$light-grey-text: #ccc;
$dark-grey: rgb(26, 43, 52);

$light-grey-background: #dedede;

body {
  font-size: 10pt;
  color: $primary-color;
}

.preview {
  float: right;
  width: 45vw;
  max-width: 640px;
  height: 98vh;
  text-align: left;
  font: $sans-font-stack;
  padding: 0 40px 0 40px;
  overflow: scroll;
  float: right;

  h1, h2, h3, h4, h5, h6 {
    font-family: $serif-font-stack;
  }

  h1 {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: .5em;
  }

  h2 {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: .5em;
  }

  h3 {
    font-size: 1.3em;
    margin-top: 0.8em;
    margin-bottom: .5em;
  }

  h4 {
    font-size: 1.1em;
    margin-bottom: .5em;
  }

  h5 {
    font-size: 1.0em;
    margin-bottom: .5em;
  }

  h6 {
    font-size: 0.9em;
    margin-bottom: .5em;
  }

  p {
    font-family: $sans-font-stack;
    font-size: 1em;
    margin-bottom: 0.8em;
    line-height: 1.35em;
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

  a {
    color: $accent-color;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  ol {
    list-style: decimal inside;
    line-height: 1.2em;
  }

  ul {
    list-style: disc inside;
    line-height: 1.2em;
  }

  blockquote {
    margin: 20px;
    padding: 20px 10px 10px 20px;
    background-color: $light-grey-background;
    font-size: 85%;
  }

  pre {
    padding: 10px;
    margin: 10px 0 10px 0;
    background-color: $dark-grey;
    color: $light-grey-text;
    border-radius: 4px;
    white-space: pre-wrap;
  }

  code {
    font-family: $mono-font-stack;
    font-size: 12px;
  }

}

.input-container {

}

textarea {
  width: 44vw;
  height: 100vh;
  float: left;
  font-size: 10pt;
  font-family: $mono-font-stack;
  resize: none;
  margin: 0 auto;
  padding: 10px 10px 0 20px;
  border: none;
  border-right: 1px solid $light-grey-text;
}

@media (max-width: 1100px) {
  .input-container {
    width: 90vw;
    max-width: 680px;
    border-bottom: 1px solid $light-grey-text;
    margin: 0 auto;
  }

  form {
    float: none;
  }

  textarea {
    float: none;
    margin: 0 auto;
    width: 60vw;
    border-right: none;
  }

  .preview {
    float: none;
    margin: auto;
    width: 90vw;
  }

}